.main-div {
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
}

.card-transactions {
	background-color: RGB(26, 27, 31);
	border-radius: 1em;
  color: white;
}

.table-transactions{
  color: white !important;
}